:root {
    font-family: serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #f1f1f170;
}

.page {
    display: flex; 
    width: 100%;
    
}

#busca-cliente {
    border: 1px solid;
    padding: 8px;
    margin: 8px;
    max-width: 30%;
    background-color: #f1f1f170;
    border-radius: 4px;
    
}
#busca-cliente p {
    margin-bottom: 4px;
}

#busca-cliente form {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}


#id-produto-input, #nome-produto-input, #descricao-produto-input {
    margin-left: 4px;
    margin-top: 6px;
    background-color: #f1f1f1;
    border: 1px solid black;
    outline: none;
    transition: border-color 0.2s ease, border-width 0.3s ease;
    border-radius: 2px;
}

#id-produto-input {
    width: 15%;
}

#nome-produto-input {
    width: 70%;
}

#descricao-produto-input {
    width: 70%;
}

#id-produto-input:focus, #nome-produto-input:focus, #descricao-produto-input:focus{
    border-color: #78c005;
    border-width: 3px;
}

#inputs-busca {
    display: flex;
    justify-content: flex-end; 
    gap: 4px; 
    margin-top: 8px;
}

#carregar-busca, #limpar-busca {
    background-color: #78c005;
    color: white;
    font-weight: bolder;
    font-size: large;
    border: 1px solid black;
    padding: 4px 4px;
    margin: 8px 4px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.5s ease;
    justify-content: flex-end;
}

#carregar-busca:hover, #limpar-busca:hover {
    background-color: #578b02;  
}

#dados-produto {
    border: 1px solid;
    padding: 8px;
    margin: 8px;
    /* width: 70%; */
    background-color: #f1f1f170;
}

.label {
    font-weight: bold;
    margin-right: 4px;
}
#dados-produto .item {
    display: flex;
}

.item {
    margin-top: 8px;
}


h3 {
    color: #78c005;
}

table {
    width: 100%;
    border-collapse: collapse; /* Remove as bordas duplas entre as células */
    margin-top: 10px; /* Adiciona um pouco de espaço acima da tabela */
}

th, td {
    padding: 10px 15px; /* Adiciona espaçamento interno (padding) nas células */
    border: 1px solid #ddd; /* Adiciona borda fina entre as células */
    text-align: left; /* Alinha o texto à esquerda */
}

th {
    background-color: #f4f4f4; /* Cor de fundo para cabeçalhos */
}

td {
    background-color: #fff; /* Cor de fundo para os dados */
}


