<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Franquias 360</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="page"></div>
        <section id="busca-cliente">
            <h3>Busca Cliente</h3>
            <p>Atendimento:</p>
            <form   id="form" action="submit">
                <label   for="id">Id produto:</label>
                <input id="id-produto-input" type="text">
            </form>
            <div id="inputs-busca">
                <input id="carregar-busca" type="submit" value="Carregar">
                <input id="limpar-busca" type="submit" value="Limpar">
            </div>
        </section>
        <br>
        <section id="dados-produto">
            <h3>Dados do Produto</h3>
            <div class="produto-info" id="produto-info">
                <!-- Aqui será gerada a tabela dinamicamente -->
            </div>
        </section>
        
    </div>
    
    <script src="../static/script.js"></script>
</body>
</html>