<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <div id="atendimento">
        <h3 id="tituloBusca">Busca Produto</h3>
        <p>Atendimento:</p>

        <!-- Adicionando o elemento form -->
        <form id="Form">
            <div class="input-group">
                <p>Id do produto:</p>
                <input type="text" id="productId">
            </div>

            <button type="submit">Enviar</button>
        </form>
    </div>

    <p id="Dados"></p>

    <script src="/backend/static/script.js"></script>
</body>
</html>
